.calendar {
  justify-content: center;
  padding: 30px 0;
  border-bottom: 1px solid #ebebe8;
  justify-content: center;
  margin: auto;
  @media (max-width: 480px) {
    flex-direction: column;
    text-align: center;
  }
  input {
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #ebebe8;
    padding: 5px;
    width: 120px;
  }
  button {
    align-items: center;
    margin-left: 15px;
    @media (max-width: 480px) {
      margin: 0 auto;
      width: 70%;
    }
    svg {
      height: auto;
      width: 18px;
      fill: white;
    }
  }
}

.stats {
  width: 100%;
  margin: 0 auto;
  .row {
    justify-content: space-around;
    @media (max-width: 480px) {
      flex-direction: column;
    }
    .stat {
      width: 30%;
      border-bottom: 1px solid #ebebe8;
      justify-content: space-between;
      min-width: 150px;
      @media (max-width: 480px) {
        width: 80%;
        margin: auto;
        flex-direction: row;
      }
      p {
        font-size: 18px;
        font-weight: bold;
        margin: 10px;
        color: #919191;
        font-family: "Roboto", sans-serif;
        @media (max-width: 480px) {
          font-size: 17px;
          margin: 10px 0;
          text-align: center;
        }
      }
      span {
        padding: 0 100px;
      }
    }
  }
}

.legend {
  margin: 0 auto;
  padding: 40px 0;
  h1 {
    color: #919191;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
  }
  .chartElements {
    justify-content: center;
    @media (max-width: 480px) {
      flex-direction: column;
    }
    .chartEl {
      padding: 0 15px;
      background-color: #f3f3f1;
      @media (max-width: 480px) {
        margin: 5px;
      }
      margin: 0 5px;
      .circle {
        width: 20px;
        height: 20px;
        line-height: 200px;
        border-radius: 50%;
        align-self: center;
      }
      .blue {
        background-color: #80bfca;
        margin-right: 10px;
      }
      .orange {
        background-color: #ff9a38;
        margin-right: 10px;
      }
      .green {
        background-color: #59b66d;
        margin-right: 10px;
      }
      p {
        display: inline-block;
        color: #919191;
        font-family: "Roboto", sans-serif;
      }
    }
  }
}
.charts {
  .chart {
    margin: auto;
    canvas {
      min-width: 270px;
      margin-bottom: 40px;
    }
  }
}
