.bg-modal-uplink {
  background-color: rgba(0, 0, 0, 0.8);
  width: calc(100% - 200px);
  height: 100vh;
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  @media (max-width: 600px) {
    width: 100%;
  }
  .modal-contents {
    height: auto;
    width: 500px;
    background-color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    border-radius: 4px;
    @media (max-width: 600px) {
      width: 300px;
      padding: 0;
    }
    .inputModal {
      margin: 15px auto;
      display: block;
      width: 300px;
      padding: 8px;
      border: 1px solid gray;
      @media (max-width: 600px) {
        width: 80%;
      }
    }
    a {
      text-decoration: none;
      @extend .inputModal;
      height: auto;
      font-size: 25px;
    }
    .contentTitle {
      padding: 10px 15px;
      border-bottom: 1px solid #ebebe8;
      h1 {
        font-size: 17px;
        margin: 0;
        color: #919191;
        text-transform: uppercase;
      }
    }
    .close {
      position: absolute;
      top: 0;
      right: 10px;
      font-size: 42px;
      color: #333;
      transform: rotate(45deg);
      cursor: pointer;
      &:hover {
        color: #666;
      }
    }
  }
}

.bg-modal-downlink {
  @extend .bg-modal-uplink;
}

.bg-modal-upbanner {
  @extend .bg-modal-uplink;
}
.bg-modal-linkChange {
  @extend .bg-modal-uplink;
}

.bg-modal-downbanner {
  @extend .bg-modal-uplink;
}

.bg-modal-message {
  @extend .bg-modal-uplink;
  width: 100%;
  z-index: 10;
  .modal-contents {
    text-align: left;
    padding: 0;
    height: 480px;
    width: 700px;
    .chat {
      .profile {
        margin: 10px;
        border-bottom: 2px solid #ebebe8;
        .profilePic {
          padding: 15px 15px;
          border-radius: 50%;
          background-image: url("http://i.stack.imgur.com/Dj7eP.jpg");
          width: 50px;
          height: 50px;
          background-size: cover;
          margin: 10px;
          cursor: pointer;
        }
        div {
          p {
            color: #46657b;
            font-size: 20px;
            font-weight: bold;
            margin: 3px 0;
          }
          .online {
            border-radius: 4px;
            display: inline-block;
            font-weight: initial;
            color: white;
            font-size: 15px;
            padding: 5px;
            background: #04ae00;
          }
        }
      }
      .conversation {
        height: 250px;
        border-bottom: 2px solid #ebebe8;
      }
      .field {
        margin: 10px;
        input {
          box-sizing: border-box;
          width: 85%;
          margin: 0 10px;
          height: 35px;
          background-image: image("images/icons/message.svg");
        }
        button {
          font-size: 20px;
        }
      }
    }
  }
}

.bg-modal-exit {
  @extend .bg-modal-uplink;
  width: 100%;
  z-index: 10;
  .exitButtons {
    margin: 20px 0;
    button {
      background: #979797;
      font-size: 20px;
      padding: 10px;
      &:hover {
        background-color: #f58220;
      }
    }
  }
}
